body {
    background-color: #f7f3ee;
    color: #4b3832;
    font-family: sans-serif;

    margin: 0;  /* 將body預設值清0 */
    padding: 0;
    box-sizing: border-box;  
}


.navBar {
    background-color: white;
    display: flex;
    justify-content: space-between;  /* 第一個元素靠左、最後一個元素靠右 */
    align-items: center;
    padding: 5px 20px;  /* 上下:5、左右:20 */

    /* 置頂 */
    position: fixed;
    top: 0;

    width: 100%;
    box-sizing: border-box;
    /* 設定的width, height等於元素總寬高 (元素寬高 + padding + border) */
}

.logo {
    height: 60px;
}
ul {
    display: flex;
    list-style: none;
    gap: 40px;
}




.heroSec {
    height: 550px;
    background-image: url("./hero.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 70px;  /* 從視窗頂端往下(要隨navBar高度調整) */
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}



.card_sec {
    display: grid;
    padding: 150px;
    /* grid-template-columns: 340px 340px 340px; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 100px;
    /* margin: 0 auto; */
}
.cafe_card {
    max-width: 340px;
    background-color: white;
    padding: 30px;
    
    /* boder待調整(參考：https://html-css-js.com/css/generator/border-radius/) */
    border: 5px solid #A4938F;
    border-radius: 40px;
    /* box-shadow? line-height? */
    
}
.cafe_card img {
    width: 100%;
    aspect-ratio: 3/4;
    /* object-fit: cover; */
}